html,body {
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
#root,.App{
  height: 100%;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
}
h2{
  margin: 0;
}
